<main [fullscreen]="true">
  <br>
  <form name="ckeditor">
  <ckeditor no-bounce 
  id="editor1" 
  class="ck-editor__editable"
          [(ngModel)]="mycontent" 
          #myckeditor
          name="editor1"
          [readonly]="false"
          required
          (ready)="onReady($event)"
          [config]="ckeConfig" 
          style="margin:0"  
          debounce="500" 
         (click)="onClick($event)"
         (input)="onInput(event)"
         >
  
          <!--open menu-->
          <ckbutton mat-icon-button class="cke-button"
                [name]="'openMenu'"
                [command]="'openMenu'"
                [toolbar]="'styles,1'"
                (click)="openMenu($event)"
                menuToggle
                [label]="'Save Document'"
                [icon]="'/assets/openMenu.png'"
          ></ckbutton> 
  
          <!--rb colors in text-->
          <ckbutton mat-button
          [name]="'rbChangeColorButton'"
          [command]="'this.changeTextColor(1)'"
          [toolbar]="'styles,1'"
          (click)="this.changeTextColor(1)"
          [label]="'Change colors red blue'"
          [icon]="'/assets/rb.png'"
          ></ckbutton>  
          
          <!--rgb colors in text-->
          <ckbutton mat-button
          [name]="'rgbChangeColorButton'"
          [command]="'this.changeTextColor(2)'"
          [toolbar]="'styles,1'"
          (click)="this.changeTextColor(2)"
          [label]="'Change colors red green blue'"
          [icon]="'/assets/rgb.png'"
          ></ckbutton>  
          
          <!--no colors-->
          <ckbutton mat-button
          [name]="'clearBordersButton'"
          [command]="'clearBorders'"
          [toolbar]="'styles,1'"
          (click)="this.clearColors()"
          [label]="'No Borders'"
          [icon]="'/assets/no borders.png'"
          ></ckbutton> 
           
          <!--all borders popover-->
          <ckbutton mat-button
          [name]="'colorBordersButton'"
          [command]="'openBorderMenu'"
          [toolbar]="'styles,1'"
          (click)="this.openBorderMenu(event)"
          menuToggle
          [label]="'Open Popover'"
          [icon]="'/assets/all borders.png'"
          ></ckbutton> 
  
          <!--font size menu-->
          <ckbutton mat-button
          [name]="'fontSizeButton'"
          [command]="'fontSizeMenu'"
          [toolbar]="'styles,1'"
          (click)="this.openFontSizeMenu(event)"
          menuToggle
          [label]="'Open Font Size Popover'"
          [icon]="'/assets/all borders.png'"
          ></ckbutton> 
  
          <!--line distance menu-->
          <ckbutton mat-button
          [name]="'lineDistanceButton'"
          [command]="'lineDistanceMenu'"
          [toolbar]="'styles,1'"
          (click)="this.openLineDistanceMenu(event)"
          menuToggle
          [label]="'Open line Distance Popover'"
          [icon]="'/assets/all borders.png'"
          ></ckbutton> 
  
          <!--color numbers-->
          <ckbutton mat-button
          [name]="'colorNumbersButton'"
          [command]="'this.miscOperationsService.colorNumbers()'"
          [toolbar]="'styles,1'"
          (click)="this.colorNumbers()"
          [label]="'Color Numbers'"
          [icon]="'/assets/color numbers.png'"
          ></ckbutton> 
          
  
  </ckeditor>
  </form>
<div id="photo">
  <img src="homePicture.jpg"/>

</div> 
  <div id="text">
      <h2>My Name</h2>  
    Here is some text about me.
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</div>
</main>

